body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.login_box_area .login_box_img {
	height: 350px;
    position: relative;
    margin-top: 2rem;
}

@media (min-width: 1000px) {
	.login_box_area .login_box_img {
		height: 610px;
	}
}

@media (min-width: 991px) {
	.login_box_area .login_box_img {
		margin-right: 5px;
	}
}

.login_box_area .login_box_img img {
	width: 100%;
}

.login_box_area .login_box_img:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	content: "";
	background: #3AB397;
	opacity: .9;
}

.login_box_area .login_box_img .hover {
	position: absolute;
	top: 50%;
	left: 0px;
	text-align: center;
	width: 100%;
	transform: translateY(-50%);
}

.login_box_area .login_box_img .hover h4 {
	font-size: 1.5rem;
	color: #fff;
	font-weight: 500;
    margin-bottom: 15px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
}

.login_box_area .login_box_img .hover p {
	max-width: 390px;
	margin: 0px auto 28px;
    color: #fff;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 35px;
}

.login_box_area .login_box_img .hover .button {
	border-radius: 0px;
	line-height: 38px;
	text-transform: uppercase;
}

.login_box_area .login_box_img .hover .button:hover:before {
	left: 260px;
}

.login_box_area .login_box_img .button:hover {
	background: #3AB397!important;
	color: #fff !important;
	border-color: ffff !important;
}

.login_form_inner {

	height: 100%;
	text-align: center;
	padding: 10px 0;
}

@media (min-width: 1000px) {
	.login_form_inner {
		padding-top: 115px;
		padding-bottom: 0;
	}
}

.login_form_inner h3 {
	color: #3AB397;
	text-transform: uppercase;
    margin-bottom: 75px;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 15px;
}

.login_form_inner .login_form {
	max-width: 450px;
	margin: auto;
}

.login_form_inner.reg_form {
	padding-top: 60px;
}


.input-group {
    width: 100%;
    margin-bottom: 10px;
}
.input-group input {
    background: #F4F8F7;
    border-radius: 1px; 
    height: 60px;
    border: none;
    outline: none;
}
.input-group input:focus{
    outline: none;
    border: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.input-group-addon {
    background: #F4F8F7;
    border-radius: 4px; 
    height: 60px;
    border: none;
}
.icon {
    padding: 20px;
    color: #3AB397;
    left: 7px;
}



#left-word {
    text-align: right;
}

#alternateword h6 {
    font-size: 12px;
    padding: 5px;
}

#socials {
    margin: 7px;
    padding: 5px;
    width: 100%;
}

#socials i {
    margin: 15px;
    padding: 5px;
    border: 2px solid #333333;
    border-radius: 50%;
    font-size: 15px;
    
}

.fa-facebook-f i {
    padding: 7px;
}

.button-group  {
    margin-top: 20px;
    padding: 2px;
    
}

.button-group button {
    color: #ffffff;
    background-color: #3AB397;
    padding-left: 60px;
    padding-right: 60px;
    border: 2px solid #3AB397;
    border-radius: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    align-content: center;
    margin: 0;
    
}
#alternateword{
    width: 100%;
    display: block
}
#center-word{
    clear: both;
}
.button-group{
    width: 100%;
    text-align: center;
    margin: 0;
}
.alert{
    width: 100%;
}
